# adapt for your network
server = 'irc.freenode.net'
port = 6667
ssl = False
password = ''

# preferred nick
nick = 'oiler_er_innen'
# alternate nick
altnick = 'noiler'
realname = 'oiler_er_innen'
user = 'oiler_er_innen'

# channel to join
chan = '#oilertest'

# to make the bot !quit and !ignore and stuff
ownerpw = 'trggr'

# name of your twitter account, for informational purposes only
twitter_account = '@ev'

# veto time for twitter functions
vetotime = 15

# get these from dev.twitter.com
consumer_key = 'YOUR CONSUMER KEY'
consumer_secret = 'YOUR CONSUMER SECRET'

# get these from dev.twitter.com if you want
access_token = 'OAUTH ACCESS TOKEN'
access_token_secret = 'OAUTH ACCESS TOKEN SECRET'
